/* Base styles
========================================================================== */

html,button,input,select,textarea {color: #222;}

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

::-moz-selection {background: #b3d4fc;text-shadow: none;}
::selection { background: #b3d4fc;text-shadow: none;}

img {vertical-align: middle;height: auto;max-width: 100%;}

.clearfix:before,
.clearfix:after { content: " ";display: table;}
.clearfix:after { clear: both;}
.clearfix { *zoom: 1;}

/* @import Typography.scss */
@import "imports/typography.scss";

/* @import Buttons.scss */
@import "imports/buttons.scss";

/* @import Tables.scss */
@import "imports/tables.scss";

/* @import Forms.scss */
@import "imports/forms.scss";

/* Custom styles
========================================================================== */

body {

}

#wrapper {
    max-width: 944px;
    margin: auto;
}










/* Helper classes
========================================================================== */

.ir { background-color: transparent; border: 0; overflow: hidden; /* IE 6/7 fallback */ *text-indent: -9999px;}
.ir:before { content: "";display: block;width: 0;height: 100%;}
.hidden {display: none !important;visibility: hidden;}
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px;}
.visuallyhidden.focusable:active,.visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto;}
.invisible { visibility: hidden;}

/* Media Queries
========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {
    /* Style adjustments for high resolution devices */
}

/* Print Import
========================================================================== */

@import "imports/print.scss";