/* Base styles
========================================================================== */

html,button,input,select,textarea {color: #222;}

*, *:before, *:after { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

::-moz-selection {background: #b3d4fc;text-shadow: none;}
::selection { background: #b3d4fc;text-shadow: none;}

img, object, embed { max-width: 100%; height: auto; display: block; }
object, embed { height: 100%; }
img { -ms-interpolation-mode: bicubic; }

.clearfix:before,
.clearfix:after { content: " ";display: table;}
.clearfix:after { clear: both;}
.clearfix { *zoom: 1;}

/* 
========================================================================== */
body {
	background: #f4f4f4 url(../images/diamond-pattern.png);
	xbackground-attachment: fixed;
	color: #3a3a3a;
	font-family: source-sans-pro, georgia, serif;
	font-size: 16px;
	line-height: 1.5;
	margin: 0;
	padding: 0;
}
h1,h2,h3,h4,h5,h6 {font-family: source-sans-pro, arial, verdana, sans-serif;}
h1,h2,h3 {color: #123c83;font-weight: 900; text-transform: uppercase;}
h1 { font-size: 50px; }
h2 { font-size: 42px; }
h3 { font-size: 32px; }
h4 { font-size: 24px; }
h5 { font-size: 17px; }
h6 { font-size: 14px; }
table {font-family: arial, verdana, sans-serif;}

/* 
========================================================================== */
.container {
	margin: 0 auto;
	max-width: 900px;
	position: relative;
}

/* HEADER
========================================================================== */
.header {
	background: #05286c url(../images/header_bg.jpg) no-repeat center bottom;
	box-shadow: 0 3px 4px rgba(0,0,0,.35);
	position: relative;
	z-index: 100;
}
.top-nav {
	background: rgba(0,0,0,.25);
	border-bottom: 1px solid rgba(255,255,255,.14);
}
.top-nav ul {
	float: right;
	list-style: none;
	margin: 0;
}
.top-nav li {
	float: left;
	margin-left: 1.5em;
	& a {
		color: #fff;
		display: block;
		font-family: arial;
		font-size: 12px;
		padding: 7px 5px;
	}
}
.logo {
	display: block;
	position: absolute;
	left: 0;
	bottom: 0;
}
.logo img {display: block;}
.logo span {
	background: url(../images/logo_btm.png) no-repeat left bottom;
	position: absolute;
	left: 14px;
	bottom: -15px;
	width: 86px;
	height: 15px;
}
.main-nav {
	float: right;
	list-style: none;
	margin: 0;
}
.main-nav li {
	float: left;
	margin-left: 1em;
	margin-top: 40px;
	& a {
		color: #fff;
		display: block;
		font-size: 18px;
		font-weight: bold;
		padding: 10px 5px;
	}
}

/* CONTENT
========================================================================== */
.banner-container {
	position: relative;
}
.banner {
	xbackground-color: #000;
	background-repeat: no-repeat;
	background-position: center top;
	xbackground-attachment: fixed;
	display: block;
	position: absolute;
	top: 0;
	height: 500px;
	width: 100%;
}
.banner-home {
	background-image: url(../images/banner_rounded.png);
}
.banner span {
	xbackground: url(../images/dots.png);
	position: absolute;
	height: 100%;
	width: 100%;
}
.main-content {
	background: #fff;
	margin-top: 200px;
	padding: 20px;
	-webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.2);
	xborder-radius: 10px
}
img {
	xborder-radius: 5px;
}

/* Members ---------------------- */
.staff-img {
	box-shadow: inset 1px 1px 10px #000;
}
.member-img  {
	background: #fff;
	border-radius: 100px;
	-webkit-box-shadow: 1px 1px 1px rgba(0,0,0,.2);
	border: 5px solid #123c83;
}
/* Map */
.map-overlay {
	background: rgba(0,0,0,.8);
	color: #fff;
	position: absolute;
	font-size: 13px;
	left: 0;
	top: 0;
	padding: 20px;
	width: 300px;
	height: 323px;
}

/* Side Nav ---------------------- */
.side-nav { display: block; list-style: none; margin: 0; padding: 10px 0; }
.side-nav li { display: block; list-style: none; margin: 0 0 7px 0; }
.side-nav li a { display: block; }
.side-nav li.active a { color: #4d4d4d; font-weight: bold; }
.side-nav li.divider { border-top: 1px solid #e6e6e6; height: 0; padding: 0; }





/* FOOTER
========================================================================== */
footer {
	background: #05286c url(../images/header_bg.jpg) no-repeat center top;
	color: #fff;
	padding-top: 5px;
}
#flex-footer {
	margin-bottom: 0;
	padding-bottom: 5px;
}
#flex-footer .slides > li {
	margin-left: 5px;
}
.copy, .copy a {xcolor: #eee;}


/* Misc classes
========================================================================== */
.panel { background: #f2f2f2; border: solid 1px #e6e6e6; margin: 0 0 22px 0; padding: 20px; }
.panel > :first-child { margin-top: 0; }
.panel > :last-child { margin-bottom: 0; }
img.left {margin-right: 1em;margin-bottom: 1em;}
img.right {margin-left: 1em;margin-bottom: 1em;}

/* Inline Link List */
ul.inline-list, ul.link-list { margin: 0 0 17px -22px; padding: 0; list-style: none; overflow: hidden; }
ul.inline-list > li, ul.link-list > li { list-style: none; float: left; margin-left: 22px; display: block; }
ul.inline-list > li > *, ul.link-list > li > * { display: block; }

.ir { background-color: transparent; border: 0; overflow: hidden; /* IE 6/7 fallback */ *text-indent: -9999px;}
.ir:before { content: "";display: block;width: 0;height: 100%;}
.hidden {display: none !important;visibility: hidden;}
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px;}
.visuallyhidden.focusable:active,.visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto;}
.invisible { visibility: hidden;}

/* Media Queries
========================================================================== */
@media only screen and (max-width: 767px) {
	body { -webkit-text-size-adjust: none; -ms-text-size-adjust: none; width: 100%; min-width: 0; margin-left: 0; margin-right: 0; padding-left: 0; padding-right: 0;
	}
	.nav-bar { height: auto; }
    .nav-bar > li { float: none; display: block; border-right: none; }
}