/* Base styles
========================================================================== */

html,button,input,select,textarea {color: #222;}

*, *:before, *:after { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

::-moz-selection {background: #b3d4fc;text-shadow: none;}
::selection { background: #b3d4fc;text-shadow: none;}

img, object, embed { max-width: 100%; height: auto; }
object, embed { height: 100%; }
img { -ms-interpolation-mode: bicubic; }

.clearfix:before,
.clearfix:after { content: " ";display: table;}
.clearfix:after { clear: both;}
.clearfix { *zoom: 1;}

/* 
========================================================================== */
body {
	background: #fff;
	color: #3a3a3a;
	font-family: pt-serif, georgia, serif;
	font-size: 17px;
	line-height: 1.5;
	margin: 0;
	padding: 0;
}
h1,h2,h3,h4,h5,h6 {font-family: pt-sans-narrow, arial, verdana, sans-serif;}
h1,h2,h3 {text-transform: uppercase;}
h1 { font-size: 50px; }
h2 { font-size: 42px; }
h3 { font-size: 32px; }
h4 { font-size: 23px; }
h5 { font-size: 17px; }
h6 { font-size: 14px; }
table {font-family: arial, verdana, sans-serif;}

/* 
========================================================================== */
/* Side Nav ---------------------- */
.side-nav { display: block; list-style: none; margin: 0; padding: 10px 0; }
.side-nav li { display: block; list-style: none; margin: 0 0 7px 0; }
.side-nav li a { display: block; }
.side-nav li.active a { color: #4d4d4d; font-weight: bold; }
.side-nav li.divider { border-top: 1px solid #e6e6e6; height: 0; padding: 0; }


/* FOOTER
========================================================================== */
footer {
	background: #eee;
	font-size: 15px;
}
.copy, .copy a {color: #eee;}


/* Misc classes
========================================================================== */
.panel { background: #f2f2f2; border: solid 1px #e6e6e6; margin: 0 0 22px 0; padding: 20px; }
.panel > :first-child { margin-top: 0; }
.panel > :last-child { margin-bottom: 0; }
img.left {margin-right: 1em;margin-bottom: 1em;}
img.right {margin-left: 1em;margin-bottom: 1em;}

/* Inline Link List */
ul.inline-list, ul.link-list { margin: 0 0 17px -22px; padding: 0; list-style: none; overflow: hidden; }
ul.inline-list > li, ul.link-list > li { list-style: none; float: left; margin-left: 22px; display: block; }
ul.inline-list > li > *, ul.link-list > li > * { display: block; }

.ir { background-color: transparent; border: 0; overflow: hidden; /* IE 6/7 fallback */ *text-indent: -9999px;}
.ir:before { content: "";display: block;width: 0;height: 100%;}
.hidden {display: none !important;visibility: hidden;}
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px;}
.visuallyhidden.focusable:active,.visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto;}
.invisible { visibility: hidden;}

/* Media Queries
========================================================================== */
@media only screen and (max-width: 767px) {
	.left, .right {
		float: none;
	}
	body { -webkit-text-size-adjust: none; -ms-text-size-adjust: none; width: 100%; min-width: 0; margin-left: 0; margin-right: 0; padding-left: 0; padding-right: 0;
	}
	.nav-bar { height: auto; }
    .nav-bar > li { float: none; display: block; border-right: none; }
}