/* css/scss/imports/typography.scss
========================================================================== */
a {
    color:#0088cc;
    outline:none;
    -webkit-tap-highlight-color:#369;
    text-decoration: none;
}
a:hover {color:#005580; text-decoration: underline;}
a:active {color:#005580;}
a:focus {outline:thin dotted;}

p {margin:0 0 1em;}
p + p {margin:1em 0;}
img + p {margin-top: 1em;}
small {font-size: 85%;}
.lead {font-size: 23px;line-height: 1.5;font-style: italic;}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    font-style: normal;
    line-height: 1.1;
    margin:1em 0 0.5em;
}
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
    font-size: 60%;
    color: #6f6f6f;
    line-height: 0;
}
h1 { font-size: 44px; }
h2 { font-size: 37px; }
h3 { font-size: 27px; }
h4 { font-size: 23px; }
h5 { font-size: 17px; }
h6 { font-size: 14px; }

ul, ol {
    padding: 0;
    margin: 0 0 10px 30px;
}
ul ul, ul ol, ol ol, ol ul {
    margin-bottom: 0;
}
ul.unstyled,
ol.unstyled {
  margin-left: 0;
  list-style: none;
}

dl {margin-bottom: 20px;}
dt,
dd {line-height: 20px;}
dt {font-weight: bold;}
dd {margin-left: 10px;}

code,
pre {
	padding: 0 3px 2px;
	font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
	font-size: 12px;
	color: #333;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
code {
	padding: 2px 4px;
	color: #d14;
	background-color: #f7f7f9;
	border: 1px solid #e1e1e8;
}
hr {
    clear: both;
    margin: 50px 0;
    border: 0;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #fff;
}
.left {float: left;}
.right {float: right;}
.text-left {text-align: left;}
.text-right {text-align: right;}
.text-center {text-align: center;}
.uppercase {text-transform: uppercase;}

/* Quotes
  ----------------------------------------------------*/
blockquote {
    padding: 0 0 0 15px;
    margin: 0 0 20px;
    border-left: 5px solid #eee;
}
blockquote p {
    margin-bottom: 0;
    line-height: 25px;
}
blockquote small {
    display: block;
    line-height: 20px;
    color: #999999;
}
blockquote small:before {
    content: '\2014 \00A0';
}
blockquote.pull-right {
    float: right;
    padding-right: 15px;
    padding-left: 0;
    border-right: 5px solid #eee;
    border-left: 0;
}
blockquote.pull-right p,
blockquote.pull-right small {
    text-align: right;
}
blockquote.pull-right small:before {
    content: '';
}
blockquote.pull-right small:after {
    content: '\00A0 \2014';
}
q:before,
q:after,
blockquote:before,
blockquote:after {
    content: "";
}