/* Base styles
========================================================================== */
html, button, input, select, textarea {
  color: #222; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

img {
  vertical-align: middle;
  height: auto;
  max-width: 100%; }

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }

/* @import Typography.scss */
/* css/scss/imports/typography.scss
========================================================================== */
a, a:link {
  color: #0088cc;
  outline: none;
  -webkit-tap-highlight-color: #369;
  text-decoration: none; }

a:hover {
  color: #005580;
  text-decoration: underline; }

a:active {
  color: #005580; }

a:focus {
  outline: thin dotted; }

body {
  width: 100%;
  margin: 0;
  padding: 0;
  color: #333;
  font-size: 15px;
  line-height: 1.5em;
  font-family: open-sans, arial, verdana, sans-serif; }

p {
  margin: 0 0 1em; }

p + p {
  margin: 1em 0; }

small {
  font-size: 85%; }

h1, h2, h3, h4, h5, h6 {
  margin: 1.4em 0 0.25em;
  line-height: 1.1em;
  font-weight: normal; }

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  text-decoration: none; }

h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
  text-decoration: underline; }

h1 {
  margin-top: 0;
  font-size: 36px; }

h2 {
  font-size: 30px; }

h3 {
  font-size: 24px; }

h4 {
  font-size: 18px; }

h5 {
  font-size: 16px; }

h6 {
  font-size: 14px; }

h1 + h2,
h2 + h3,
h3 + h4,
h4 + h5,
h5 + h6 {
  margin-top: 0; }

ul,
ol {
  padding: 0;
  margin: 0 0 10px 25px; }

ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0; }

ul.unstyled,
ol.unstyled {
  margin-left: 0;
  list-style: none; }

dl {
  margin-bottom: 20px; }

dt,
dd {
  line-height: 20px; }

dt {
  font-weight: bold; }

dd {
  margin-left: 10px; }

code,
pre {
  padding: 0 3px 2px;
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
  font-size: 12px;
  color: #333333;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; }

code {
  padding: 2px 4px;
  color: #d14;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8; }

hr {
  margin: 20px 0;
  border: 0;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #ffffff; }

/* Quotes
  ----------------------------------------------------*/
blockquote {
  padding: 0 0 0 15px;
  margin: 0 0 20px;
  border-left: 5px solid #eeeeee; }

blockquote p {
  margin-bottom: 0;
  line-height: 25px; }

blockquote small {
  display: block;
  line-height: 20px;
  color: #999999; }

blockquote small:before {
  content: '\2014 \00A0'; }

blockquote.pull-right {
  float: right;
  padding-right: 15px;
  padding-left: 0;
  border-right: 5px solid #eeeeee;
  border-left: 0; }

blockquote.pull-right p,
blockquote.pull-right small {
  text-align: right; }

blockquote.pull-right small:before {
  content: ''; }

blockquote.pull-right small:after {
  content: '\00A0 \2014'; }

q:before,
q:after,
blockquote:before,
blockquote:after {
  content: ""; }

/* @import Grid.scss */
/*
 * Bootstrap v2.1.1
 *
 * Copyright 2012 Twitter, Inc
 * Licensed under the Apache License v2.0
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Designed and built with all the love in the world @twitter by @mdo and @fat.
 */
.row-fluid {
  width: 100%;
  *zoom: 1; }

.row-fluid:before,
.row-fluid:after {
  display: table;
  content: "";
  line-height: 0; }

.row-fluid:after {
  clear: both; }

.row-fluid [class*="span"] {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  margin-left: 2.127659574468085%;
  *margin-left: 2.074468085106383%; }

.row-fluid [class*="span"]:first-child {
  margin-left: 0; }

.row-fluid .span12 {
  width: 100%;
  *width: 99.94680851063829%; }

.row-fluid .span11 {
  width: 91.48936170212765%;
  *width: 91.43617021276594%; }

.row-fluid .span10 {
  width: 82.97872340425532%;
  *width: 82.92553191489361%; }

.row-fluid .span9 {
  width: 74.46808510638297%;
  *width: 74.41489361702126%; }

.row-fluid .span8 {
  width: 65.95744680851064%;
  *width: 65.90425531914893%; }

.row-fluid .span7 {
  width: 57.44680851063829%;
  *width: 57.39361702127659%; }

.row-fluid .span6 {
  width: 48.93617021276595%;
  *width: 48.88297872340425%; }

.row-fluid .span5 {
  width: 40.42553191489362%;
  *width: 40.37234042553192%; }

.row-fluid .span4 {
  width: 31.914893617021278%;
  *width: 31.861702127659576%; }

.row-fluid .span3 {
  width: 23.404255319148934%;
  *width: 23.351063829787233%; }

.row-fluid .span2 {
  width: 14.893617021276595%;
  *width: 14.840425531914894%; }

.row-fluid .span1 {
  width: 6.382978723404255%;
  *width: 6.329787234042553%; }

.row-fluid .offset12 {
  margin-left: 104.25531914893617%;
  *margin-left: 104.14893617021275%; }

.row-fluid .offset12:first-child {
  margin-left: 102.12765957446808%;
  *margin-left: 102.02127659574467%; }

.row-fluid .offset11 {
  margin-left: 95.74468085106382%;
  *margin-left: 95.6382978723404%; }

.row-fluid .offset11:first-child {
  margin-left: 93.61702127659574%;
  *margin-left: 93.51063829787232%; }

.row-fluid .offset10 {
  margin-left: 87.23404255319149%;
  *margin-left: 87.12765957446807%; }

.row-fluid .offset10:first-child {
  margin-left: 85.1063829787234%;
  *margin-left: 84.99999999999999%; }

.row-fluid .offset9 {
  margin-left: 78.72340425531914%;
  *margin-left: 78.61702127659572%; }

.row-fluid .offset9:first-child {
  margin-left: 76.59574468085106%;
  *margin-left: 76.48936170212764%; }

.row-fluid .offset8 {
  margin-left: 70.2127659574468%;
  *margin-left: 70.10638297872339%; }

.row-fluid .offset8:first-child {
  margin-left: 68.08510638297872%;
  *margin-left: 67.9787234042553%; }

.row-fluid .offset7 {
  margin-left: 61.70212765957446%;
  *margin-left: 61.59574468085106%; }

.row-fluid .offset7:first-child {
  margin-left: 59.574468085106375%;
  *margin-left: 59.46808510638297%; }

.row-fluid .offset6 {
  margin-left: 53.191489361702125%;
  *margin-left: 53.085106382978715%; }

.row-fluid .offset6:first-child {
  margin-left: 51.063829787234035%;
  *margin-left: 50.95744680851063%; }

.row-fluid .offset5 {
  margin-left: 44.68085106382979%;
  *margin-left: 44.57446808510638%; }

.row-fluid .offset5:first-child {
  margin-left: 42.5531914893617%;
  *margin-left: 42.4468085106383%; }

.row-fluid .offset4 {
  margin-left: 36.170212765957444%;
  *margin-left: 36.06382978723405%; }

.row-fluid .offset4:first-child {
  margin-left: 34.04255319148936%;
  *margin-left: 33.93617021276596%; }

.row-fluid .offset3 {
  margin-left: 27.659574468085104%;
  *margin-left: 27.5531914893617%; }

.row-fluid .offset3:first-child {
  margin-left: 25.53191489361702%;
  *margin-left: 25.425531914893618%; }

.row-fluid .offset2 {
  margin-left: 19.148936170212764%;
  *margin-left: 19.04255319148936%; }

.row-fluid .offset2:first-child {
  margin-left: 17.02127659574468%;
  *margin-left: 16.914893617021278%; }

.row-fluid .offset1 {
  margin-left: 10.638297872340425%;
  *margin-left: 10.53191489361702%; }

.row-fluid .offset1:first-child {
  margin-left: 8.51063829787234%;
  *margin-left: 8.404255319148938%; }

@media (max-width: 767px) {
  .row-fluid {
    width: 100%; }

  [class*="span"],
  .row-fluid [class*="span"],
  .row-fluid [class*="offset"] {
    float: none;
    display: block;
    width: 100%;
    margin-left: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

  .span12, .row-fluid .span12 {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

  .row-fluid .offset12, .row-fluid .offset12:first-child, .row-fluid .offset11, .row-fluid .offset11:first-child, .row-fluid .offset10, .row-fluid .offset10:first-child, .row-fluid .offset9, .row-fluid .offset9:first-child, .row-fluid .offset8, .row-fluid .offset8:first-child, .row-fluid .offset7, .row-fluid .offset7:first-child, .row-fluid .offset6, .row-fluid .offset6:first-child, .row-fluid .offset5, .row-fluid .offset5:first-child, .row-fluid .offset4, .row-fluid .offset4:first-child, .row-fluid .offset3, .row-fluid .offset3:first-child, .row-fluid .offset2, .row-fluid .offset2:first-child, .row-fluid .offset1, .row-fluid .offset1:first-child {
    margin-left: 0; } }
@media (min-width: 768px) {
  [class*="span"] {
    float: left;
    min-height: 1px;
    margin-left: 20px; }

  .row-fluid {
    width: 100%;
    *zoom: 1; }

  .row-fluid:before,
  .row-fluid:after {
    display: table;
    content: "";
    line-height: 0; }

  .row-fluid:after {
    clear: both; }

  .row-fluid [class*="span"] {
    display: block;
    width: 100%;
    min-height: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    margin-left: 2.7624309392265194%;
    *margin-left: 2.709239449864817%; }

  .row-fluid [class*="span"]:first-child {
    margin-left: 0; }

  .row-fluid .span12 {
    width: 100%;
    *width: 99.94680851063829%; }

  .row-fluid .span11 {
    width: 91.43646408839778%;
    *width: 91.38327259903608%; }

  .row-fluid .span10 {
    width: 82.87292817679558%;
    *width: 82.81973668743387%; }

  .row-fluid .span9 {
    width: 74.30939226519337%;
    *width: 74.25620077583166%; }

  .row-fluid .span8 {
    width: 65.74585635359117%;
    *width: 65.69266486422946%; }

  .row-fluid .span7 {
    width: 57.18232044198895%;
    *width: 57.12912895262725%; }

  .row-fluid .span6 {
    width: 48.61878453038674%;
    *width: 48.56559304102504%; }

  .row-fluid .span5 {
    width: 40.05524861878453%;
    *width: 40.00205712942283%; }

  .row-fluid .span4 {
    width: 31.491712707182323%;
    *width: 31.43852121782062%; }

  .row-fluid .span3 {
    width: 22.92817679558011%;
    *width: 22.87498530621841%; }

  .row-fluid .span2 {
    width: 14.3646408839779%;
    *width: 14.311449394616199%; }

  .row-fluid .span1 {
    width: 5.801104972375691%;
    *width: 5.747913483013988%; }

  .row-fluid .offset12 {
    margin-left: 105.52486187845304%;
    *margin-left: 105.41847889972962%; }

  .row-fluid .offset12:first-child {
    margin-left: 102.76243093922652%;
    *margin-left: 102.6560479605031%; }

  .row-fluid .offset11 {
    margin-left: 96.96132596685082%;
    *margin-left: 96.8549429881274%; }

  .row-fluid .offset11:first-child {
    margin-left: 94.1988950276243%;
    *margin-left: 94.09251204890089%; }

  .row-fluid .offset10 {
    margin-left: 88.39779005524862%;
    *margin-left: 88.2914070765252%; }

  .row-fluid .offset10:first-child {
    margin-left: 85.6353591160221%;
    *margin-left: 85.52897613729868%; }

  .row-fluid .offset9 {
    margin-left: 79.8342541436464%;
    *margin-left: 79.72787116492299%; }

  .row-fluid .offset9:first-child {
    margin-left: 77.07182320441989%;
    *margin-left: 76.96544022569647%; }

  .row-fluid .offset8 {
    margin-left: 71.2707182320442%;
    *margin-left: 71.16433525332079%; }

  .row-fluid .offset8:first-child {
    margin-left: 68.50828729281768%;
    *margin-left: 68.40190431409427%; }

  .row-fluid .offset7 {
    margin-left: 62.70718232044199%;
    *margin-left: 62.600799341718584%; }

  .row-fluid .offset7:first-child {
    margin-left: 59.94475138121547%;
    *margin-left: 59.838368402492065%; }

  .row-fluid .offset6 {
    margin-left: 54.14364640883978%;
    *margin-left: 54.037263430116376%; }

  .row-fluid .offset6:first-child {
    margin-left: 51.38121546961326%;
    *margin-left: 51.27483249088986%; }

  .row-fluid .offset5 {
    margin-left: 45.58011049723757%;
    *margin-left: 45.47372751851417%; }

  .row-fluid .offset5:first-child {
    margin-left: 42.81767955801105%;
    *margin-left: 42.71129657928765%; }

  .row-fluid .offset4 {
    margin-left: 37.01657458563536%;
    *margin-left: 36.91019160691196%; }

  .row-fluid .offset4:first-child {
    margin-left: 34.25414364640884%;
    *margin-left: 34.14776066768544%; }

  .row-fluid .offset3 {
    margin-left: 28.45303867403315%;
    *margin-left: 28.346655695309746%; }

  .row-fluid .offset3:first-child {
    margin-left: 25.69060773480663%;
    *margin-left: 25.584224756083227%; }

  .row-fluid .offset2 {
    margin-left: 19.88950276243094%;
    *margin-left: 19.783119783707537%; }

  .row-fluid .offset2:first-child {
    margin-left: 17.12707182320442%;
    *margin-left: 17.02068884448102%; }

  .row-fluid .offset1 {
    margin-left: 11.32596685082873%;
    *margin-left: 11.219583872105325%; }

  .row-fluid .offset1:first-child {
    margin-left: 8.56353591160221%;
    *margin-left: 8.457152932878806%; } }
body {
  background: #f2f0e9;
  color: #333;
  font-family: open-sans, arial, verdana, sans-serif;
  font-size: 15px;
  line-height: 1.5;
  margin: 0;
  padding: 0; }

/* Header
========================================================================== */
#header {
  background: #fff;
  height: 100px; }

.container-fluid {
  margin: 0 auto;
  max-width: 1000px; }

/* Helper classes
========================================================================== */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px; }

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 100%; }

.hidden {
  display: none !important;
  visibility: hidden; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

.invisible {
  visibility: hidden; }

/* Media Queries
========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */ }
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi) {
  /* Style adjustments for high resolution devices */ }
/* Print Import
========================================================================== */
/* css/scss/imports/print.scss
========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important; }

  a, a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: ""; }

  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group;
    /* h5bp.com/t */ }

  tr, img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }

  p, h2, h3 {
    orphans: 3;
    widows: 3; }

  h2, h3 {
    page-break-after: avoid; } }
